[package]
name = "senjuko-conch"
version = "0.1.0"
edition = "2021"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "conch"
path = "main.rs"

[workspace]
members = [
    "cookie",
    "cookie/network/protocol/jce/frame",
]

[dependencies]
async-graphql = "5.0.5"
axum = "0.6.4"
axum-extra = { version = "0.4.2", features = ["spa"] }
cookie = { path = "cookie", package = "conch-cookie" }
anyhow = "1.0.68"
shadow-rs = "0.20.0"
tokio = { version = "1.24.1", features = ["full"] }
tower-http = "0.3.5"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }

[build-dependencies]
shadow-rs = "0.20.0"
