name: Deploy to Pages

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 16.x ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Copy to Root
        run: cp manual/package.json ./package.json && cp manual/yarn.lock ./yarn.lock
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Generate Rust documents
        run: cargo doc --no-deps --workspace
      - name: Move to Docusaurus
        run: mv target/doc manual/static/rust-docs

      - name: Install Docusaurus
        working-directory: ./manual
        run: npm install

      - name: Generate Docusaurus documents
        working-directory: ./manual
        run: npm run build

      - name: Setup Pages
        uses: actions/configure-pages@v1
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'manual/build/.'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
