name: Rust test control

on:
  push:
    paths: [ "**.rs", "**/Cargo.toml", "**/Cargo.lock", ".github/workflows/rust-test-control.yml" ]

  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: project-senjuko/setup-conch-actionkit-rust@v0.1

      - name: Run tests
        run: cargo test --workspace --verbose
